[Desktop Entry]
Version=1.0
Type=Application
Name=Extract Text from Image (OCR)
Comment=Open a JPEG or other picture and copy the text to clipboard using OCR. Great for common printed fonts.
Exec=/home/will/.local/bin/ocr-image %f
Icon=accessories-text-editor
Terminal=false
Categories=Utility;Graphics;OCR;Viewer;
MimeType=image/jpeg;image/jpg;image/png;image/tiff;image/bmp;image/webp;image/x-portable-pixmap;
StartupNotify=true
Actions=PickImage;

[Desktop Action PickImage]
Name=Extract Text from Picture...
Exec=/home/will/.local/bin/ocr-image
Icon=accessories-text-editor
