[Desktop Entry]
Name=Universal Radio Hacker
Comment=Analyze, demodulate and reverse-engineer wireless protocols
Exec=/home/will/.local/bin/urh
TryExec=/home/will/.local/bin/urh
Terminal=false
Type=Application
Categories=HamRadio;Utility;Science;Engineering;
Keywords=SDR;Radio;Hacker;Reverse Engineering;Protocol;HackRF;Wireless;
StartupNotify=true
